{%extends 'base-2.html'%}
{%block head%}
    <title>Glossary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/glossary.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/search.css') }}">
{%endblock%}
{% block content %}
<section>
    <h1>Glossary</h1>
    <p>Here to help you understand some of the terminologies used in the app.</p>
    <section id="search">
        <form method="POST" action="/glossary" novalidate>
            {{form.hidden_tag()}}
                {{form.search(class="input-field", placeholder="Search by term or definition...")}}
                {{form.submit(class="submit-btn")}}
        </form>
    </section>
</section>
<section>
    {%if results%}
        <div id="defs">
        {% for result in results %}
            <div class="card">
                <dl>
                    <dt>{{ result.term }}</dt>
                    <dd>{{ result.definition }}</dd>
                </dl>
            </div>
        {% endfor %}
        </div>
    {%elif search_performed%}
        <div class="no-results">
            <p>No terms found matching your search.</p>
        </div>
    {%else%}
        <h3>Some of the keywords used:</h3>
        <div id="defs">
        {% for term in all_terms %}
            <div class="card">
                <dl>
                    <dt>{{ term.term }}</dt>
                    <dd>{{ term.definition }}</dd>
                </dl>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</section>
{%endblock%}