<nav>
    <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/view_all">View</a></li>
        <li><a href="/profile">Profile</a></li>

        <!-- Dropdown Menu Trigger -->
        <li class="dropdown-container">
            <button class="dropdown-toggle">More</button>
            <ul class="dropdown-content">
                <li><a href="/search">Search</a></li>
                <li><a href="/glossary">Glossary</a></li>
                <li><a href="/add_movie">Add</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
