{% extends 'base-2.html' %}
{% block head %}
    <title>View Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/ex.css') }}">
{% endblock %}

{% block content %}
<section class="movie-details">
    <h1 class="movie-title">{{ movie.name }}</h1>
    <div class="movie-info">
        <p><strong>ID:</strong> {{ movie.id }}</p>
        <p><strong>Rate:</strong> {{ movie.rate }}</p>
        <p><strong>Added:</strong> {% if movie.added %}{{ movie.added.strftime('%d-%m-%Y') }}{% else %}N/A{% endif %}</p>
        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p><strong>Plot:</strong> {{ movie.plot }}</p>
        <p><strong>Release:</strong> {% if movie.release %}{{ movie.release.strftime('%d-%m-%Y') }}{% else %}Not Added{% endif %}</p>
        <p><strong>Progress:</strong> {{ movie.progress }}</p>
        <p><strong>Repeat:</strong> {% if movie.repeat %}{{ movie.repeat }}{% else %}Not Added{% endif %}</p>
        <p><strong>Start:</strong> {% if movie.start %}{{ movie.start.strftime('%d-%m-%Y') }}{% else %}Not Added{% endif %}</p>
        <p><strong>Finish:</strong> {% if movie.finish %}{{ movie.finish.strftime('%d-%m-%Y') }}{% else %}Not Added{% endif %}</p>
        <p><strong>Notes:</strong> {% if movie.notes %}{{ movie.notes }}{% else %}Not Added{% endif %}</p>
    </div>
    <div class="movie-actions">
        <h3>Actions</h3>
        <a href="{{ url_for('delete', id=movie.id) }}" class="btn btn-danger">Delete</a>
        <a href="{{ url_for('update', id=movie.id) }}" class="btn btn-primary">Update</a>
    </div>
    <sub>*Dates are shown in this format DD-MM-YYYY</sub>
</section>
{% endblock %}
